<div class="row">
    <div>
      <form #productForm="ngForm" (ngSubmit)="addProduct(productForm.value)">
        <input type="hidden" name="id" [(ngModel)]="data.id" />
        
        <div class="form-group">
          <label for="category">Category</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="data.category"
            name="category"
            required
            aria-describedby="category"
            placeholder="Enter Category"
          />
          <div class="text-danger" *ngIf="productForm.controls['category']?.invalid && productForm.controls['category']?.touched">
            Category is required.
          </div>
        </div>
        
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="data.title"
            name="title"
            required
            aria-describedby="title"
            placeholder="Enter Title"
          />
          <div class="text-danger" *ngIf="productForm.controls['title']?.invalid && productForm.controls['title']?.touched">
            Title is required.
          </div>
        </div>
        
        <div class="form-group">
          <label for="price">Price</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="data.price"
            name="price"
            required
            placeholder="Enter Price"
          />
          <div class="text-danger" *ngIf="productForm.controls['price']?.invalid && productForm.controls['price']?.touched">
            Price is required.
          </div>
        </div>
        
        <div class="form-group">
          <label for="image">Image</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="data.image"
            name="image"
            required
            placeholder="Enter Image URL"
          />
          <div class="text-danger" *ngIf="productForm.controls['image']?.invalid && productForm.controls['image']?.touched">
            Image URL is required.
          </div>
        </div>
        
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="data.description"
            name="description"
            placeholder="Enter Description"
          />
        </div>
        
        <button type="submit" class="btn btn-primary mt-2" [disabled]="productForm.invalid">Submit</button>
      </form>
      
    </div>
</div>