<div class="container-fluid">
    <div class="row">
        <h1 class="text-heading">Create Product</h1>
    </div>
    <div class="row">
        <div>
            <form #productFrom="ngForm" (ngSubmit)="addProduct(productFrom.value)">
                <input type="hidden" name="id" ngModel value="{{productDetails.id}}" />
                <div class="form-group col-sm-6">
                    <label for="exampleInputEmail1">Category</label>
                    <input type="text" class="form-control" value="{{productDetails.category}}" ngModel name="category"
                        required aria-describedby="category" placeholder="Enter Category">
                        <div class="text-danger" *ngIf="productFrom.controls['category']?.invalid && productFrom.controls['category']?.touched">
                            Category is required.
                          </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="exampleInputEmail1">Title</label>
                    <input type="text" class="form-control" value="{{productDetails.title}}" ngModel name="title"
                        aria-describedby="Title" placeholder="Enter Title">
                        <div class="text-danger" *ngIf="productFrom.controls['title']?.invalid && productFrom.controls['title']?.touched">
                            title is required.
                          </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="exampleInputPassword1">Price</label>
                    <input type="number" class="form-control" value="{{productDetails.price}}" ngModel name="price"
                        placeholder="Enter Price">
                        <div class="text-danger" *ngIf="productFrom.controls['price']?.invalid && productFrom.controls['price']?.touched">
                            price is required.
                          </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="exampleInputPassword1">Image</label>
                    <input type="text" class="form-control" value="{{productDetails.image}}" ngModel name="image"
                        placeholder="Image">
                        <div class="text-danger" *ngIf="productFrom.controls['image']?.invalid && productFrom.controls['image']?.touched">
                            image is required.
                          </div>
                </div>
                <div class="form-group col-sm-6">
                    <label for="exampleInputPassword1">Description</label>
                    <input type="text" class="form-control" value="{{productDetails.description}}" ngModel
                        name="description" placeholder="Enter description">
                </div>
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
        </div>
    </div>
</div>